* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  list-style: none;
  //
}
#startbtn {
  margin-top: 3em;
  width: 100px;
  height: 100px;
  font-size: 20px;
  background: white;
  cursor: pointer;
}

#text {
  width: 100%;
  text-align: center;
}
#point {
  width: 100%;
  text-align: center;
}

.container {
  background: rgb(71, 63, 63);
  position: relative;
  perspective: 800px;
  display: flex;
  flex-flow: row wrap;
  width: 1100px;
  margin: 0 auto;
  margin-top: 2em;
  justify-content: center;
}
.card {
  width: 160px;
  height: 230px;
  border-radius: 10px;
  //position: absolute;
  margin: 15px;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
}
.card div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.card .front {
  border-radius: 10px;
}
.card .back {
  background: blue;
  border-radius: 10px;
  transform: rotateY(180deg);
}
.card.flipped {
  transform: rotateY(180deg);
}
.hidden {
  display: none;
}
